{% extends 'base.html' %}

{% block content %}
<header class="py-5" style="background-image: url('/static/assets/bg.png'); background-size: cover; background-position: center; position: relative;">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">Add PO</h1>
        </div>
    </div>
    <img src="/static/assets/women.png" alt="Women Photo" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%); width: 190px;">
</header>
  <div class="container mt-5">
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <strong>{{ form.purchase_order_no.label_tag }}</strong>
        {{ form.purchase_order_no }}
        <div class="invalid-feedback">
          Please provide an PO number.
        </div>
      </div>
      <div class="mb-3">
        <strong>{{ form.purchase_order_date.label_tag }}</strong>
        {{ form.purchase_order_date }}
        <div class="invalid-feedback">
            Please provide a PO date
        </div>
      </div>
      <div class="mb-3">
        <strong>{{ form.po_amount.label_tag }}</strong>
        {{ form.po_amount }}
      </div>
      <div class="mb-3" style="width: 500px;">
        <strong>{{ form.link.label_tag }}</strong>
        {{ form.link }}
    </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
  <br><br><br><br><br><br><br><br>

{% endblock %}
