{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Supply Chain</h1>
            <p class="lead fw-normal text-white-50 mb-0">supervity.ai</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row">
        <div class="col-sm-2 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total outstanding <br><strong>{{ sum_of_pending_amount }}</strong></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Open Invoice <br><strong>{{ count_of_pending_invoices }}</strong></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Open PO <br><strong>{{ count_of_records_with_null_invoice }}</strong></h5>
            </div>
          </div>
        </div>
        
      </div>
        <!-- <div class="row-cols-xl-4 justify-content-center">
            
            <h1>Payment Status for Submitted Invoices</h1>
            
        </div> -->

        <table class="table table-dark table-striped-columns">
          <h1>Payment Status for Submitted Invoices</h1>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Invoice No</th>
                <th scope="col">Invoice Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Payment Date</th>
              </tr>
            </thead>
            <tbody>
              {% for invoice in invoices %}
                <tr>
                  <th scope="row">{{ invoice.id }}</th>
                  <td>{{ invoice.invoice_no }}</td>
                  <td>{{ invoice.invoice_date }}</td>
                  <td>{{ invoice.amount }}</td>
                  <td>{{ invoice.payment_status }}</td>
                  <td>{{ invoice.payment_date }}</td>
                </tr>

                {% endfor %}
              
            </tbody>
        </table><br><br>
        <h1>Add a Record to PO Details</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

    </div>
    
    
</section><br><br><br><br>

{% endblock %}