{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supervity Dashboard | Dashboard</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'img/svg/logo.svg' %}" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="{% url 'home' %}" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <!-- <span class="icon logo" aria-hidden="true"></span> -->
                <img src="{% static 'assets/supervity_logo.png' %}" alt="Supervity Logo" class="logo">
                <div class="logo-text">
                    <span class="logo-title">Supervity</span>
                    <span class="logo-subtitle">Vendor Portal</span>
                    <span class="logo-subtitle">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                </div>

            </a>
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
                <li>
                    <a class="active" href="{% url 'home' %}"><span class="icon home" aria-hidden="true"></span>Dashboard</a>
                </li>
                <li>
                  <a href="{% url 'upload_invoice' %}" aria-hidden="true">
                      <img src="{% static 'assets/uploadinvoicelogo.png' %}" alt="Upload Invoice" class="icon" aria-hidden="true" style="width: 20px; height: 20px; filter: invert(100%) contrast(250%); font-weight: bold; ">
                      Upload Invoice
                  </a>
                </li>
                <li>
                    <a href="{% url 'payment_status' %}">
                      <img src="{% static 'assets/status2.png' %}" alt="Upload Invoice" class="icon" aria-hidden="true" style="width: 20px; height: 20px; filter: invert(100%) contrast(250%); font-weight: bold; ">  
                      Payment Status
                    </a>
                </li>
                <li>
                    <a href="{% url 'issue_tickets' %}">
                      <img src="{% static 'assets/supportticket2.png' %}" alt="Upload Invoice" class="icon" aria-hidden="true" style="width: 25px; height: 25px; filter: invert(100%) contrast(300%); font-weight: bold; ">  
                      Support Ticket
                    </a>
                </li>
                <li>
                    <a href="{% url 'add_vendor_details' %}">
                      <img src="{% static 'assets/editprofile.png' %}" alt="Upload Invoice" class="icon" aria-hidden="true" style="width: 20px; height: 20px; filter: invert(100%) contrast(250%); font-weight: bold; ">  
                      Edit Profile
                    </a>
                </li>
                <!-- <li>
                  <a href="{% url 'add_PO2' %}">
                    <img src="{% static 'assets/editprofile.png' %}" alt="Upload Invoice" class="icon" aria-hidden="true" style="width: 20px; height: 20px; filter: invert(100%) contrast(250%); font-weight: bold; ">  
                    ADD PO
                  </a>
              </li> -->
            </ul>
            
        </div>
    </div>
    <div class="sidebar-footer">
        <a href="##" class="sidebar-user">
            <span class="sidebar-user-img">
              <picture><source srcset="{% static 'assets/supplier SAM.png' %}" type="image/webp"><img src="{% static 'assets/supplier SAM.png' %}" alt="User name"></picture>
            </span>
            <div class="sidebar-user-info">
                <span class="sidebar-user__title">Supplier Sam</span>
                <!-- <span class="sidebar-user__subtitle">Support manager</span> -->
            </div>
        </a>
    </div>
</aside>
  <div class="main-wrapper">
    <!-- ! Main nav -->
    <nav class="main-nav--bg">
  <div class="container main-nav">
    <div class="main-nav-start">
      <div class="search-wrapper">
        <i data-feather="search" aria-hidden="true"></i>
        <input type="text" placeholder="Enter keywords ..." required>
      </div>
    </div>
    <div class="main-nav-end">
      <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
        <span class="sr-only">Toggle menu</span>
        <span class="icon menu-toggle--gray" aria-hidden="true"></span>
      </button>
      <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
        <span class="sr-only">Switch theme</span>
        <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
        <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
      </button>
      <div class="notification-wrapper">
        <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
          <span class="sr-only">To messages</span>
          <span class="icon notification active" aria-hidden="true"></span>
        </button>
        <ul class="users-item-dropdown notification-dropdown dropdown">
          <li>
            <a href="##">
              <div class="notification-dropdown-icon info">
                <i data-feather="check"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">System just updated</span>
                <span class="notification-dropdown__subtitle">The system has been successfully upgraded. Read more
                  here.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="##">
              <div class="notification-dropdown-icon danger">
                <i data-feather="info" aria-hidden="true"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">The cache is full!</span>
                <span class="notification-dropdown__subtitle">Unnecessary caches take up a lot of memory space and
                  interfere ...</span>
              </div>
            </a>
          </li>
          <li>
            <a href="##">
              <div class="notification-dropdown-icon info">
                <i data-feather="check" aria-hidden="true"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">New Subscriber here!</span>
                <span class="notification-dropdown__subtitle">A new subscriber has subscribed.</span>
              </div>
            </a>
          </li>
          <li>
            <a class="link-to-page" href="##">Go to Notifications page</a>
          </li>
        </ul>
      </div>
      <div class="nav-user-wrapper">
        <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
          <span class="sr-only">My profile</span>
          <span class="nav-user-img">
            <picture><source srcset="{% static 'assets/supplier SAM.png' %}" type="image/webp"><img src="{% static 'assets/supplier SAM.png' %}" alt="User name"></picture>
          </span>
        </button>
        <ul class="users-item-dropdown nav-user-dropdown dropdown">
          <li><a href="##">
              <i data-feather="user" aria-hidden="true"></i>
              <span>Profile</span>
            </a></li>
          <li><a href="##">
              <i data-feather="settings" aria-hidden="true"></i>
              <span>Account settings</span>
            </a></li>
          <li><a class="danger" href="{% url 'logout' %}">
              <i data-feather="log-out" aria-hidden="true"></i>
              <span>Log out</span>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title">Dashboard</h2>
        <div class="row stat-cards">
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon primary">
                <i data-feather="bar-chart-2" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num">$ 870</p>
                <p class="stat-cards-info__title">Outstanding Value</p>
                <!-- <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit success">
                    <i data-feather="trending-up" aria-hidden="true"></i>4.07%
                  </span>
                  Last month
                </p> -->
              </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon warning">
                <i data-feather="file" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num">2</p>
                <p class="stat-cards-info__title">Open Invoice</p>
                <!-- <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit success">
                    <i data-feather="trending-up" aria-hidden="true"></i>0.24%
                  </span>
                  Last month
                </p> -->
              </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon purple">
                <i data-feather="file" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num">2</p>
                <p class="stat-cards-info__title">Open PO</p>
                <!-- <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit danger">
                    <i data-feather="trending-down" aria-hidden="true"></i>1.64%
                  </span>
                  Last month
                </p> -->
              </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon purple">
                <i data-feather="file" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num">$ 1270</p>
                <p class="stat-cards-info__title">Open PO Value</p>
                <!-- <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit danger">
                    <i data-feather="trending-down" aria-hidden="true"></i>1.64%
                  </span>
                  Last month
                </p> -->
              </div>
            </article>
          </div>
          <!-- <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon success">
                <i data-feather="feather" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num">1478 286</p>
                <p class="stat-cards-info__title">Total visits</p>
                <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit warning">
                    <i data-feather="trending-up" aria-hidden="true"></i>0.00%
                  </span>
                  Last month
                </p>
              </div>
            </article>
          </div> -->
        </div>
        <div class="row">
          <div class="col-lg-12">
              <div class="chart">
                  <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
              </div>
              <center>
                <h1>INVOICE DETAILS</h1><br><br>
              </center>
              <div class="users-table table-wrapper">
                  <style>
                      .table-scrollable {
                          overflow-x: auto;
                          max-height: 300px;
                          max-width: 100%; /* Set the maximum width of the table wrapper */
                      }
                      .posts-table thead th {
                          position: sticky;
                          top: 0;
                          background-color: #ccc; /* Optional: Set the background color of the header */
                          z-index: 1; /* Ensure the header stays above the table content */
                      }
                  </style>
                  <div class="table-responsive"> <!-- Add this div for responsive scrolling -->
                      <div class="table-scrollable"> <!-- Add a wrapper for horizontal scrolling -->
                          <table class="posts-table table">
                              <thead>
                                  <tr class="users-table-info">
                                      <!-- <th>S.No</th> -->
                                      <th>Invoice No</th>
                                      <th>PO No</th>
                                      <th>Invoice Date</th>
                                      <th>Amount</th>
                                      <th>Payment Status</th>
                                      <th>Payment Due Date</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for invoice in invoices %}
                                    <tr>
                                        <!-- <th scope="row">{{ invoice.id }}</th> -->
                                        <td>{{ invoice.invoice_no }}</td>
                                        <td>{{ invoice.po_no }}</td>
                                        <td>{{ invoice.invoice_date }}</td>
                                        <td>$ {{ invoice.amount }}</td>
                                        <td>{{ invoice.payment_status }}</td>
                                        <td>{{ invoice.payment_date|default:"-" }}</td>
                                    </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      

        <center>
        <h1>PURCHASE ORDER DETAILS</h1><br><br>
      </center>
      <div class="row">
        <div class="col-lg-12">
            <!-- <div class="chart">
                <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
            </div> -->
            <div class="users-table table-wrapper">
                <style>
                    .table-scrollable {
                        overflow-x: auto;
                        max-height: 300px;
                        max-width: 100%; /* Set the maximum width of the table wrapper */
                    }
                    .posts-table thead th {
                        position: sticky;
                        top: 0;
                        background-color: #ccc; /* Change the background color to grey */
                        z-index: 1; /* Ensure the header stays above the table content */
                    }
                </style>
                <div class="table-responsive"> <!-- Add this div for responsive scrolling -->
                    <div class="table-scrollable"> <!-- Add a wrapper for horizontal scrolling -->
                        <table class="posts-table table">
                            <thead>
                                <tr class="users-table-info">
                                    <!-- <th>S.No</th> -->
                                    <th>PO No</th>
                                    <th>PO Date</th>
                                    <th>PO Amount</th>
                                    <th>PO File</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for po_record in po_records %}
                                  <tr>
                                      <!-- <th scope="row">{{ po_record.id }}</th> -->
                                      <td>{{ po_record.purchase_order_no }}</td>
                                      <td>{{ po_record.purchase_order_date }}</td>
                                      <td>$ {{ po_record.po_amount }}</td>
                                      <!-- <td></td> -->
                                      <td><a class="pdf-preview-link" href="{% url 'preview_pdf2' po_record.id %}" target="_blank">Preview PDF</a></td>
                                  </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <!-- <div class="row">
          <div class="col-lg-9">
            <div class="chart">
              <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
            </div>
            <div class="users-table table-wrapper">
              <table class="posts-table">
                <thead>
                  <tr class="users-table-info">
                    <th>
                      <label class="users-table__checkbox ms-20">
                        <input type="checkbox" class="check-all">Thumbnail
                      </label>
                    </th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'img/categories/01.webp' %}" type="image/webp"><img src="{% static 'img/categories/01.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      Starting your traveling blog with Vasco
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'img/avatar/avatar-face-04.webp' %}" type="image/webp"><img src="{% static 'img/avatar/avatar-face-04.png' %}" alt="User Name"></picture>
                        Jenny Wilson
                      </div>
                    </td>
                    <td><span class="badge-pending">Pending</span></td>
                    <td>17.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'img/categories/02.webp' %}" type="image/webp"><img src="{% static 'img/categories/02.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      Start a blog to reach your creative peak
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'img/avatar/avatar-face-03.webp' %}" type="image/webp"><img src="{% static 'img/avatar/avatar-face-03.png' %}" alt="User Name"></picture>
                        Annette Black
                      </div>
                    </td>
                    <td><span class="badge-pending">Pending</span></td>
                    <td>23.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'img/categories/03.webp' %}" type="image/webp"><img src="{% static 'img/categories/03.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      Helping a local business reinvent itself
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'img/avatar/avatar-face-02.webp' %}" type="image/webp"><img src="{% static 'img/avatar/avatar-face-02.png' %}" alt="User Name"></picture>
                        Kathryn Murphy
                      </div>
                    </td>
                    <td><span class="badge-active">Active</span></td>
                    <td>17.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'img/categories/04.webp' %}" type="image/webp"><img src="{% static 'img/categories/04.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      Caring is the new marketing
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'img/avatar/avatar-face-05.webp' %}" type="image/webp"><img src="{% static 'img/avatar/avatar-face-05.png' %}" alt="User Name"></picture>
                        Guy Hawkins
                      </div>
                    </td>
                    <td><span class="badge-active">Active</span></td>
                    <td>17.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'img/categories/01.webp' %}" type="image/webp"><img src="{% static 'img/categories/01.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      How to build a loyal community online and offline
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'img/avatar/avatar-face-03.webp' %}" type="image/webp"><img src="{% static 'img/avatar/avatar-face-03.png' %}" alt="User Name"></picture>
                        Robert Fox
                      </div>
                    </td>
                    <td><span class="badge-active">Active</span></td>
                    <td>17.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="users-table__checkbox">
                        <input type="checkbox" class="check">
                        <div class="categories-table-img">
                          <picture><source srcset="{% static 'img/categories/03.webp' %}" type="image/webp"><img src="{% static 'img/categories/03.jpg' %}" alt="category"></picture>
                        </div>
                      </label>
                    </td>
                    <td>
                      How to build a loyal community online and offline
                    </td>
                    <td>
                      <div class="pages-table-img">
                        <picture><source srcset="{% static 'img/avatar/avatar-face-03.webp' %}" type="image/webp"><img src="{% static 'img/avatar/avatar-face-03.png' %}" alt="User Name"></picture>
                        Robert Fox
                      </div>
                    </td>
                    <td><span class="badge-active">Active</span></td>
                    <td>17.04.2021</td>
                    <td>
                      <span class="p-relative">
                        <button class="dropdown-btn transparent-btn" type="button" title="More info">
                          <div class="sr-only">More info</div>
                          <i data-feather="more-horizontal" aria-hidden="true"></i>
                        </button>
                        <ul class="users-item-dropdown dropdown">
                          <li><a href="##">Edit</a></li>
                          <li><a href="##">Quick edit</a></li>
                          <li><a href="##">Trash</a></li>
                        </ul>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-3">
            <article class="customers-wrapper">
              <canvas id="customersChart" aria-label="Customers statistics" role="img"></canvas>
            </article> 
          </div>
        </div> -->
      </div>
    </main>
    <!-- ! Footer -->
    <footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>2021 © Supervity Dashboard - <a href="elegant-dashboard.com" target="_blank"
          rel="noopener noreferrer">supervity-dashboard.com</a></p>
    </div>
    <ul class="footer-end">
      <li><a href="##">About</a></li>
      <li><a href="##">Support</a></li>
      <li><a href="##">Puchase</a></li>
    </ul>
  </div>
</footer>
  </div>
</div>
<!-- Chart library -->
<script src="{% static 'plugins/chart.min.js' %}"></script>
<!-- Icons library -->
<script src="{% static 'plugins/feather.min.js' %}"></script>
<!-- Custom scripts -->
<script src="{% static 'js/script.js' %}"></script>
<!-- Include Turn.js CSS and JavaScript -->
<link rel="stylesheet" href="{% static 'turnjs/turn.min.css' %}">
<script src="{% static 'turnjs/turn.min.js' %}"></script>

<!-- Add a div for the flipbook -->
<div id="flipbook">
    <iframe id="pdf-iframe" src="" width="100%" height="100%" style="border: none;"></iframe>
</div>

<!-- JavaScript to initialize Turn.js -->
<script>
    // Wait for the document to be ready
    $(document).ready(function() {
        // Initialize Turn.js with the flipbook div
        $('#flipbook').turn({
            width: '100%',
            height: 600,
            autoCenter: true
        });

        // Function to load PDF into iframe
        function loadPDF(pdfUrl) {
            $('#pdf-iframe').attr('src', pdfUrl);
        }

        // Event listener for link click to load PDF
        $('.pdf-preview-link').on('click', function(e) {
            e.preventDefault();
            var pdfUrl = $(this).attr('data-pdf-url');
            loadPDF(pdfUrl);
        });
    });
</script>

</body>

</html>