{% extends 'base.html' %}

{% block content %}
<header class="py-5" style="background-image: url('/static/assets/bg.png'); background-size: cover; background-position: center; position: relative;">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">Register Ticket</h1>
        </div>
    </div>
    <img src="/static/assets/women.png" alt="Women Photo" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%); width: 160px;">
</header>

<div class="container mt-5">
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate autocomplete="off">
        {% csrf_token %}
        <!-- <div class="mb-3">
            <strong>{{ form.ticket_id.label_tag }}</strong>
            {{ form.ticket_id }}
        </div> -->
        <div class="mb-3" style="width: 500px;">
            <strong>{{ form.date.label_tag }}</strong>
            {{ form.date }}
        </div>
        <!-- <div class="mb-3">
            <strong>{{ form.vendor_id.label_tag }}</strong>
            {{ form.vendor_id }}
        </div> -->
        <div class="mb-3" style="width: 500px;">
            <strong>{{ form.ticket_category.label_tag }}</strong>
            {{ form.ticket_category }}
        </div>
        <div class="mb-3" style="width: 500px;">
            <strong>{{ form.description.label_tag }}</strong>
            {{ form.description }}
        </div>
        <div class="mb-3" style="width: 500px;">
            <strong>{{ form.severity.label_tag }}</strong>
            {{ form.severity }}
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<br><br><br><br><br><br><br><br>

{% endblock %}
