{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Preview</title>
    <!-- Include Turn.js CSS -->
    <link rel="stylesheet" href="{% static 'turnjs/turn.min.css' %}">
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include Turn.js JS -->
    <script src="{% static 'turnjs/turn.min.js' %}"></script>
    <style>
        /* Style the container for the flipbook */
        #flipbook {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<body>
    <div id="flipbook">
        <iframe src="{{ pdf_path }}" width="100%" height="100%"></iframe>
    </div>

    <script>
        // Initialize the flipbook when the document is ready
        $(document).ready(function() {
            $('#flipbook').turn({
                width: '100%',
                height: 600,
                autoCenter: true
            });
        });
    </script>
</body>
</html>
