{% extends 'base.html' %}

{% block content %}
    
<!-- <header class="py-5" style="background-image: url('/static/assets/bg.png'); background-size: cover; background-position: center; position: relative;">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">Register</h1>
            <p class="lead fw-normal text-black-50 mb-0">Register to Supervity.ai</p>
        </div>
    </div>
    <img src="/static/assets/women.png" alt="Women Photo" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%); width: 190px;">
  </header><br><br><br>
    <div class="container">
      <div class="row">
        <center>
    
        <form method="post" action="{% url 'register' %}">
          {% csrf_token %}
          
          <div class="mb-3">
              <input type="text" class="form-control form-control-sm" name="username" placeholder="Username" style="font-size: 0.8rem; width: 200px;">
          </div>
          <div class="mb-3">
              <input type="text" class="form-control form-control-sm" name="first_name" placeholder="First Name" style="font-size: 0.8rem; width: 200px;">
          </div>
          <div class="mb-3">
              <input type="text" class="form-control form-control-sm" name="last_name" placeholder="Last Name" style="font-size: 0.8rem; width: 200px;">
          </div>
          <div class="mb-3">
              <input type="email" class="form-control form-control-sm" name="email" placeholder="Email" style="font-size: 0.8rem; width: 200px;">
          </div>
          <div class="mb-3">
              <input type="password" class="form-control form-control-sm" name="password1" placeholder="Password" style="font-size: 0.8rem; width: 200px;">
          </div>
          <div class="mb-3">
              <input type="password" class="form-control form-control-sm" name="password2" placeholder="Confirm Password" style="font-size: 0.8rem; width: 200px;">
          </div>
          
          <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
        </form>
      </center>
      </div>
    </div>

  <br><br> -->


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;
        
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
</head>

<section class="vh-30 gradient-custom">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                            <p class="text-white-50 mb-5">Please enter your details to register!</p>

                            <form method="post" action="{% url 'register' %}">
                                {% csrf_token %}

                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="username" name="username" class="form-control form-control-lg" autocomplete='off' />
                                    <label class="form-label" for="username">Username</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="first_name" name="first_name" class="form-control form-control-lg" autocomplete='off' />
                                    <label class="form-label" for="first_name">First Name</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="last_name" name="last_name" class="form-control form-control-lg" autocomplete='off' />
                                    <label class="form-label" for="last_name">Last Name</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="email" name="email" class="form-control form-control-lg" autocomplete='off' />
                                    <label class="form-label" for="email">Email</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="password1" name="password1" class="form-control form-control-lg" autocomplete='off' />
                                    <label class="form-label" for="password1">Password</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="password2" name="password2" class="form-control form-control-lg" autocomplete='off' />
                                    <label class="form-label" for="password2">Confirm Password</label>
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

                            </form>

                        </div>

                        <div>
                            <p class="mb-0">Already have an account? <a href="{% url 'login' %}" class="text-white-50 fw-bold">Login</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}