{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="py-5" style="background-image: url('/static/assets/bg.png'); background-size: cover; background-position: center; position: relative;">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">Update Invoice</h1>
        </div>
    </div>
    <img src="/static/assets/women.png" alt="Women Photo" style="position: absolute; top: 50%; right: 20px; transform: translateY(-50%); width: 190px;">
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </div>
</section>

{% endblock %}
